#vim swap file
*.swp

# build
.build

# YouCompleteMe vim plugin
.ycm_extra_conf.py*
__pycache__/

# qt
*user
.qt-build

# cmake
CMakeCache.txt
CMakeFiles
CMakeScripts
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
